@import "../../assets/sass/main.scss";


////////////////////////////////////////// Menu transparent

// c'est pour le menu 'home, etc..." couleur position, &hover
.menu-item {
  font-family: $menu-font;
  font-size: $menu-font-size;
  position: relative;
  font-weight: 600;
  padding: 2rem;
  list-style: none;
  align-self: baseline;
  margin-top: auto;
  &-title {
    color: white !important;
    text-decoration: none;
    font-weight: 800;
  }
  // ici ca fait apparaitre le submenu
  &:hover {
    .sub-menu {
      visibility: initial;
    }
  }

  // configuration initial du submenu
  .sub-menu {
    visibility: hidden;
    position: absolute;
    display: block;
    border-top: none;
    box-shadow: none;
    margin-top: 1rem;
    margin-left: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    max-height: 250px;
    background-color: white;
    padding: 0px;
    border-bottom: none;
    transition: none;
    opacity: 1;
    left: 0;
    width: 20rem !important;
    max-width: 30rem;
    font-size: $sub-menu-font-size;
    z-index: 10000;

    ////////////////////////// c'est les submenu li
    &-item {
      font-weight: 600;
      list-style: none;
      padding: 1rem 2rem 1rem 1rem;
      position: relative;
      display: block;
      text-align: left;
      border-bottom: solid 0.2px $color-light-grey;
      width: 100%;

      &:hover {
        background-color: $color-primary;

        &:before {
          content: ">";
          color: white;
        }
        .sub-menu-item-title {
          color: white;
          margin-left: 1rem;
          transition: 1s;
          transition-property: margin-left;
        }
      }
    }

    // ca c'est le a dans le li
    &-item-title {
      text-decoration: none !important;
      color: $color-primary;
    }
  }
}

// ici c'est pour la parti droite du nav
.nav-right-part-list {
  padding-left: 0;
  list-style: none;
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 5rem;
  
  &-item {
    width: 100% !important;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    margin-top: 5rem;
    transform: translateY(-30%);

    @include respond(tablet) {
      font-size: 2rem;
    }

    .icon {
      cursor: pointer;
      transition: all 1s;
      color: white;
        }
  }
  &-item-desktop {
    width: 100% !important;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    bottom: 0;
    transform: translateY(-30%);

    @include respond(tablet) {
      font-size: 2rem;
    }

    .icon {
      cursor: pointer;
      transition: all 1s;
      color: white;
        }
  }
}

// ici c'est pour le bouton toggler
.container-toggler {
  right: 0;
  width: 5rem;
  position: absolute;
  bottom: 35%;
  .icon {
    &,
    &::after,
    &::before {
      width: 4rem !important;
      height: 2px;
      background-color: $color-white;
      display: inline-block !important;
    }
    &,
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
    }
    &::after {
      top: 1rem;
      transition: all 1s;
    }
    &::before {
      top: -1rem;
      transition: all 1s;
    }
  }
  @include respond(only-big-screen) {
    display: none !important;
  }
}
// et ca c'st pour son animation
.container {
  background-color: white;
  max-width: 100% !important;
  // il faut mettre le input checkbox en vshow pas vif
  &-checkbox:checked + &-toggler > .icon {
    background: transparent;
  }

  &-checkbox:checked + &-toggler > .icon::before {
    top: 0;
    transform: rotate(-45deg);
  }
  &-checkbox:checked + &-toggler > .icon::after {
    top: 0;
    transform: rotate(45deg);
  }
}

// ici je configure le menu mobile
.menu-mobile {
  position: absolute;
  top: 0;
  background: white;
  padding: 0 0 0 1rem;
  width: 100%;

  // ici c'est pour les nom des menus "home, etc..."
  .menu-item-mobile {
    border-bottom: solid 1px $color-light-grey;
    text-align: left;
    width: 100%;
    &-title{
      color: $color-primary;
      list-style: none;
      text-decoration: none;
    }
    &:hover {
      transition: all 2s !important;
      .sub-menu-mobile {
        transition: all 2s !important;
        display: inline !important;
      }
    }
  }
}

// ici je configurele submenu mobile
.sub-menu-mobile {
  z-index: 10000;
  position: relative !important;
  display: none !important;

  .sub-menu-item {
    z-index: 10000;
    width: 100%;
    padding-left: 2rem;
    &-title {
      color: $color-secondary !important;
    }
  }
}


/*----------------------------------------
  ## Search Popup
----------------------------------------*/
.popup-div{
  position: relative;
}
.icon-popup{
  color: white;
}
.td-search-popup .search-form {
  width: 35%;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: all 0.4s ease;
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 999;
  @include respond(tablet-land){
    width: 80%;
  }
}

.td-search-popup .search-form .form-group .form-control {
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 54px;
  padding: 0 75px 0 25px;
  background: #f7f9fb;

}


.td-search-popup .search-form .submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 54px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffffff;
  transition: all 0.4s ease;
  padding: 0;
  text-align: center;
  cursor: pointer;
  background: $color-secondary;
}

.body-overlay {
  position: fixed;
  opacity: 0.97;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.95);
  z-index: 999;
  content: "";
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.4s ease;
  visibility: visible;
  opacity: 0.97;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}

.form-control{
  font-size: 2rem !important;
}



//////////////////////////// Menu blanc

// c'est pour le menu 'home, etc..." couleur position, &hover
.menu-item-scroll {
  font-family: $menu-font;
  font-size: $menu-font-size;
  position: relative;
  font-weight: 600;
  padding: 2rem;
  list-style: none;
  align-self: baseline;
  margin-top: auto;
  &-title {
    color: white !important;
    text-decoration: none;
    font-weight: 800;
  }
  // ici ca fait apparaitre le submenu
  &:hover {
    .sub-menu-scroll {
      visibility: initial;
    }
  }

  // configuration initial du submenu
  .sub-menu-scroll {
    visibility: hidden;
    position: absolute;
    display: block;
    border-top: none;
    box-shadow: none;
    margin-top: 1rem;
    margin-left: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    max-height: 250px;
    background-color: white;
    padding: 0px;
    border-bottom: none;
    transition: none;
    opacity: 1;
    left: 0;
    width: 20rem !important;
    max-width: 30rem;
    font-size: $sub-menu-font-size;
    z-index: 10000;

    ////////////////////////// c'est les submenu li
    &-item {
      font-weight: 600;
      list-style: none;
      padding: 1rem 2rem 1rem 1rem;
      position: relative;
      display: block;
      text-align: left;
      border-bottom: solid 0.2px $color-light-grey;
      width: 100%;

      &:hover {
        background-color: $color-primary;

        &:before {
          content: ">";
          color: white;
        }
        .sub-menu-scroll-item-title {
          color: $color-white !important;
          margin-left: 1rem;
          transition: 1s;
          transition-property: margin-left;
        }
      }
    }

    // ca c'est le a dans le li
    &-item-title {
      text-decoration: none !important;
      color: $color-primary;
    }
  }
}

// ici c'est pour la parti droite du nav
.nav-right-part-list-scroll {
  padding-left: 0;
  list-style: none;
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 7rem;
  
  &-item {
    width: 100% !important;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    bottom: 0;
    transform: translateY(-30%);
    @include respond(tablet) {
      font-size: 2rem;
    }
    .icon-scroll {
      cursor: pointer;
      transition: all 1s;
      color: #f7f9fb !important;
      &:hover{
        color: $color-white !important;
      }    }
  }
  &-item-desktop {
    width: 100% !important;
    font-size: 1.5rem;
    border: none;
    margin-top: 2.5rem;
    position: absolute;
    transform: translateY(-30%);
    @include respond(tablet) {
      font-size: 2rem;
    }
    .icon-scroll {
      cursor: pointer;
      transition: all 1s;
      color: #f7f9fb !important;
      &:hover{
        color: $color-white !important;
      }    }
  }
}

// ici c'est pour le bouton toggler
.container-toggler-scroll {
  right: 0;
  width: 5rem;
  position: absolute;
  bottom: 35%;
  .icon {
    &,
    &::after,
    &::before {
      width: 4rem !important;
      height: 2px;
      background-color: $color-white;
      display: inline-block !important;
    }
    &,
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
    }
    &::after {
      top: 1rem;
      transition: all 1s;
    }
    &::before {
      top: -1rem;
      transition: all 1s;
    }
  }
  @include respond(only-big-screen) {
    display: none !important;
  }
}
// et ca c'st pour son animation
.container {
  background-color: white;
  // il faut mettre le input checkbox en vshow pas vif
  &-checkbox:checked + &-toggler-scroll > .icon {
    background: transparent;
  }

  &-checkbox:checked + &-toggler-scroll > .icon::before {
    top: 0;
    transform: rotate(-45deg);
  }
  &-checkbox:checked + &-toggler-scroll > .icon::after {
    top: 0;
    transform: rotate(45deg);
  }
}

// ici je configure le menu mobile
.menu-mobile-scroll {
  position: absolute;
  top: 0;
  background: $color-primary;
  padding: 0 0 0 1rem;
  width: 100%;

  // ici c'est pour les nom des menus "home, etc..."
  .menu-item-mobile-scroll {
    border-bottom: solid 1px $color-light-grey;
    text-align: left;
    width: 100%;
    &:hover {
      transition: all 2s !important;
      .sub-menu-mobile-scroll {
        transition: all 2s !important;
        display: inline !important;
      }
    }
    &-title{
      color: white;
    }
  }
}

// ici je configurele submenu mobile
.sub-menu-mobile-scroll {
  z-index: 10000;
  position: relative !important;
  display: none !important;

  .sub-menu-scroll-item {
    z-index: 10000;
    width: 100%;
    padding-left: 2rem;
    &-title {
      color: white !important;
    }
  }
}



